# Compiled binaries
src/shell
src/shell.exe
shell
shell.exe

# CodeCrafters files
.codecrafters/
codecrafters.yml
your_program.sh
vcpkg.json
vcpkg-configuration.json

# Build files
build/
cmake-build-*/